.parallax{
    background-image: url('https://2.bp.blogspot.com/-F0IHJ72rdF0/WP4ehQaDt5I/AAAAAAAALBo/pE8VvamyfQAYv-KOlVdNlqZX-rm7S_RegCLcB/s1600/neutro%2Bfeminino-livre.png');

    min-height: 500px;

    background-attachment: fixed;

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;
}