<div class="container w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam Bem Vindes ao meu Blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur pariatur ipsam hic, aliquid, libero labore inventore 
                expedita nobis ducimus placeat officia qui reiciendis veniam eius facilis, nam nesciunt tempore modi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ad impedit excepturi obcaecati inventore sapiente reiciendis? 
                Quidem culpa, quas temporibus laborum illum, placeat dolorem, unde iure necessitatibus molestiae pariatur beatae?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis sit minus saepe at modi, necessitatibus quaerat
                optio dolores officia? Repudiandae at vero consectetur reiciendis animi cum quam facere laborum in.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur culpa aliquid dolorum unde maiores nulla labore 
                sed! Similique illo unde iste nam veritatis nesciunt magni aspernatur, eos soluta nihil veniam!
            </p>
        </div>
    </div>
</div>
<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>

