<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-0 w-75" src="https://scontent.fgru16-1.fna.fbcdn.net/v/t1.0-9/p960x960/118988985_1939454532856990_4468086015813542748_o.jpg?_nc_cat=105&_nc_sid=85a577&_nc_eui2=AeGCEetvUTDQMHImUDtpDYwFXoDOTtErhUdegM5O0SuFR-qf5CiMK9gNMu_-QnRMDcnc91zBXyuZv36tTT5KnwGK&_nc_ohc=hLNd3Sal0nEAX9dkGpN&_nc_ht=scontent.fgru16-1.fna&tp=6&oh=0d914b337f47096eb6f79261db3c1472&oe=5F9ADA3C" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Paula Figueiredo</h5>
      <p class="card-text text-center text-monospace">Aluna de Desenvolvimento Web Front-end na Generaction Brasil.</p>
      <a href="https://www.linkedin.com/in/paulinha-figueiredo/" 
      class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank" >LinkedIn</a>
      <a href="https://github.com/PaulaFigueiredo22"
      class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>
